@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 2.5rem;
    color: var(--color-success);

    @media (min-width: $mobile) {
        font-size: 4rem;
    }
}

h2 {
    padding-block-start: 5rem;
    padding-block-end: 5rem;
    font-size: 2rem;

    @media (min-width: 991px) {
        font-size: 2.6rem;
    }
}

h4 {
    font-size: 1.2rem;
    color: var(--color-success);
}

p {
    font-weight: 200;
    color: #959595;
}